body{
  background-color: yellow
}

p{
  font-size: 14px;
  color: black;
  text-shadow: 20px 20px 20px 20px
}

@media (min-width: 768px){
  p{
    font-size: 15px;
  }
}

@media (min-width: 992px){
  p{
    font-size: 16px;
  }
}

@media (min-width: 1200px){
  body{
    background-color: red;
  }
  p{
    font-size: 17px;
  }
}
